<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Registration">
    <meta name="author" content="">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <style>
        body {
            padding-top: 5rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" th:href="@{index}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{index}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="starter-template">

        <form action="/register2" method="post" th:object="${user}" role="form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <fieldset class="form-group">
                <legend>Register</legend>

                <p>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control"
                           th:value="${user.getUsername()}">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                           th:value="${user.getPassword()}"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" th:value="${user.getEmail()}"/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                </p>
                <br/>
                <div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </fieldset>
        </form>

    </div>
</div>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>
